<div class="col-12 col-xl-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Editar usuário {{ user.name }}</h5>
            <h6 class="card-subtitle text-muted">Preencha todos os dados corretamente</h6>
        </div>
        <div class="card-body">
            <form class="needs-validation" [formGroup]="userEditForm">
                <div class="mb-3 row">
                    <label for="nome" class="col-form-label col-sm-2 text-sm-right">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" [(ngModel)]="user.name" formControlName="name" class="form-control" id="nome" placeholder="Nome">
                        <div class="text-danger"
                            *ngIf="userEditForm.controls['name'].invalid && (userEditForm.controls['name'].touched || userEditForm.controls['name'].dirty)">
                            <span *ngIf="userEditForm.controls['name'].errors?.['required']">Este campo é obrigatório</span>
                            <span *ngIf="userEditForm.controls['name'].errors?.['minlength']">Deve ter ao menos 5
                                caracteres</span>
                            <span *ngIf="userEditForm.controls['name'].errors?.['maxlength']">Deve ter no máximo 50
                                caracteres</span>
                        </div>
                        <div class="text-success"
                            *ngIf="userEditForm.controls['name'].valid && (userEditForm.controls['name'].touched || userEditForm.controls['name'].dirty)">
                            Muito bem!
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-right">Email</label>
                    <div class="col-sm-10">
                        <input type="email" [(ngModel)]="user.email" formControlName="email" class="form-control" placeholder="Email">
                        <div class="text-danger"
                        *ngIf="userEditForm.controls['email'].invalid && (userEditForm.controls['email'].touched || userEditForm.controls['email'].dirty)">
                        <span *ngIf="userEditForm.controls['email'].errors?.['required']">Este campo é obrigatório</span>
                        <span *ngIf="userEditForm.controls['email'].errors?.['minlength']">Deve ter ao menos 5
                            caracteres</span>
                        <span *ngIf="userEditForm.controls['email'].errors?.['maxlength']">Deve ter no máximo 50
                            caracteres</span>
                    </div>
                    <div class="text-success"
                        *ngIf="userEditForm.controls['email'].valid && (userEditForm.controls['email'].touched || userEditForm.controls['email'].dirty)">
                        Muito bem!
                    </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="cpf" class="col-form-label col-sm-2 text-sm-right">CPF</label>
                    <div class="col-sm-10">
                        <input type="text" mask="000.000.000-00" [(ngModel)]="user.cpf" formControlName="cpf" class="form-control" id="cpf" name="cpf" placeholder="CPF">
                        <div class="text-danger"
                        *ngIf="userEditForm.controls['cpf'].invalid && (userEditForm.controls['cpf'].touched || userEditForm.controls['cpf'].dirty)">
                        <span *ngIf="userEditForm.controls['cpf'].errors?.['required']">Este campo é obrigatório</span>
                        <span *ngIf="userEditForm.controls['cpf'].errors?.['minlength']">Deve ter ao menos 14
                            caracteres</span>
                        <span *ngIf="userEditForm.controls['cpf'].errors?.['maxlength']">Deve ter no máximo 14
                            caracteres</span>
                    </div>
                    <div class="text-success"
                        *ngIf="userEditForm.controls['cpf'].valid && (userEditForm.controls['cpf'].touched || userEditForm.controls['cpf'].dirty)">
                        Muito bem!
                    </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-10 ml-sm-auto">
                        <button [disabled]="userEditForm.invalid" type="submit" (click)="update()" id="btnSalvarUser" class="btn btn-primary">
                            Atualizar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
