<div class="col-12 col-xl-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Criar Novo Usuário</h5>
            <h6 class="card-subtitle text-muted">Preencha todos os dados corretamente</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3 row">
                    <label for="nome" class="col-form-label col-sm-2 text-sm-right">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nome" placeholder="Nome">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-right">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
               
                <div class="mb-3 row">
                    <label for="cpf" class="col-form-label col-sm-2 text-sm-right">CPF</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="CPF">
                    </div>
                </div>               
               
                <div class="mb-3 row">
                    <div class="col-sm-10 ml-sm-auto">
                        <button type="submit" id="btnSalvarUser" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>